<div class="top-hero-wrapper text-center">
   <div class="conteiner top-hero-container">
      <h1 class="text-white">Hello guys!</h1>
      <h2 class="text-white">講座一覧</h2>
      <div class="container">
        
        
        
        
      </div>
   </div>
</div>