<div class="top-hero-wrapper text-center">
    <div class="container top-hero-container">
        <h1 class="text-black">Make you Happy</h1>
        <h2 class="text-white">.index is a service that you can get a lot of information about AGU classes </h2>
        <div class="container">
        <div class="row flex-center">
            <div class="col-md-3">
                <%= link_to 'Sing in', new_user_path, class: 'btn btn-block btn-white' %>
            </div>
            <div class="col-md-3">
                <%= link_to 'Log in', '#', class: 'btn btn-block btn-white' %>
            </div> 
        </div>
        </div>
    </div>
</div>