.search-area {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 3;
  background-color:rgba(255,255,255,0.8);
  padding: 20px;
}

.search-btn {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table, td, th {
  border: 0.5px #008000 solid; 
}

.table {
   text-align: center;
}

.search-btn {
  background-color: green;
  background: #008000;
  margin: 20px;
}

.btn--orange {
  color: white;
  background-color: rgba(0,255,0,0.0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn--orange:hover {
  // color: #45cc45;
  background: #45cc45;
}

.classwork-block {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: #fff100;
  // background: #fff20a;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 10px solid #ccc100;
  border-bottom: 10px solid #ccc100;
}

.individual {
  font-size: 50px;
}