.text-area {
  border: 2px solid #228b22;  /* 枠線 */
    border-radius: 0.67em;   /* 角丸 */
    padding: 0.5em;          /* 内側の余白量 */
    // background-color: snow;  /* 背景色 */
    background-color:rgba(255, 255, 255, 0.25);
    width: 300px;             /* 横幅 */
    height: 120px;           /* 高さ */
    font-size: 1em;          /* 文字サイズ */
    line-height: 1.2;
    
    
}

// .text-label {
//   display: list-item;
// }

.image-design {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #228B22;
  width: 180px;
  height: 30px;
  // margin-top: 10px;
  // margin-left: 10px;
  border-radius: 5px;
  // padding-top: 2px;
  color: white;
  text-decoration: none;
}

.comment-area {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  background-color: rgba(187, 187, 187, 0.5);
}

.image-area {
  display: inline-block;
}

.picture-area {
  // display: flex;
  // justify-content: center;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  background-color: rgba(187, 187, 187, 0.5);
}

.comment-index {
  height: auto;
  padding: 0.5em 1em;
  margin: 20px 40px 20px 40px;
  font-weight: bold;
  color: 	#228b22;/*文字色*/
  background: rgba(255, 255, 255, 0.85);
  border: solid 3px #228b22;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.picture-file-field {
  margin: 0 auto;
}