.text-area {
  border: 2px solid #228b22;  /* 枠線 */
    border-radius: 0.67em;   /* 角丸 */
    padding: 0.5em;          /* 内側の余白量 */
    // background-color: snow;  /* 背景色 */
    background-color:rgba(255, 255, 255, 0.85);
    width: 300px;             /* 横幅 */
    height: 120px;           /* 高さ */
    font-size: 1em;          /* 文字サイズ */
    line-height: 1.2;  
}

.text-label {
  display: list-item;
}

.picture-design {
  display: block;
        background-color: #228B22;
        width: 180px;
        height: 30px;
        // margin-top: 10px;
        // margin-left: 10px;
        border-radius: 5px;
        // padding-top: 2px;
        color: white;
        text-decoration: none;
        text-align: center;
}
